.each-skill-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100px;
  min-width: 140px;
  margin-right: 60px;
  margin-bottom: 30px;
}
.skill-image {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.skill {
  font-weight: 500;
  font-size: 20px;
}

@media (min-width: 768px) {
  .skill-image {
    height: 80px;
    width: 80px;
  }
  .skill {
    font-weight: 600;
    font-size: 25px;
  }
}
