.all-jobs-section {
  background-color: #121212;
  min-height: 100vh;
  color: #f1f5f9;
}
.jobs-list {
  list-style-type: none;
}
.jobs-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  margin: 20px;
  width: 100%;
  min-height: 90vh;
}

@media (min-width: 768px) {
  .jobs-main-container {
    display: flex;
    flex-direction: row;
    padding: 24px;
    margin: 20px;
    width: 100%;
    min-height: 90vh;
  }
}
.app-side-bar {
  width: 30%;
}
.job-content-container {
  width: 65%;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #f1f5f9;
  outline: none;
  height: 40px;
  width: 480px;
  border-radius: 10px;
}
.input-search-element {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f1f5f9;
  font-weight: 600;
  height: 40px;
  padding-left: 20px;
  width: 80%;
}
.search-button {
  background-color: #475569;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  outline: none;
  height: 38px;
  width: 20%;
}
.search-button:hover {
  background-color: lightgreen;
  transition: 0.1s;
}
.no-jobs-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.retry-button {
  height: 30px;
  width: 60px;
  padding: 4px;
  background-color: #4f46e5;
  color: #f1f5f9;
  border: none;
  outline: none;
  font-weight: 500;
}

.profile-failure-view-container {
  background-color: #2c364c;
  height: 180px;
  color: #000000;
  font-size: 26px;
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-failure-view-container .profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 180px;
  width: 280px;
  padding: 24px;
  border-radius: 8%;
}
