.skills-container {
  list-style-type: none;
  display: flex;

  flex-wrap: wrap;
  width: 80%;
}
.company-image {
  height: 400px;
  width: 460px;
  border-radius: 10px;
}
.life-at-comapny-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.similar-jobs-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.job-details-success-view {
  background-color: black;
  color: #f1f5f9;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job-item-details-card {
  min-height: 900px;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 24px;
  background-color: #475569;
  outline: none;
  border-radius: 12px;
}
.description-company-life {
  font-size: 28px;
  width: 60%;
}
.description-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
